<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="my-fnt fnt-weight mt-4 text-center" style="color: #0D2E57;">Welcome to your profile!</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-3 text-center">
                    <button 
                    class="mybutton my-fnt">Created Advertisements</button>
                </div>
                <div class="col-md-3 text-center">
                    <button
                    class="mybutton my-fnt">Created & Published</button>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
    <hr class="mt-5" style="color: #0D2E57;">
</div>